.a-panel {
    /* padding-bottom: 10px; */
    height: 100%;
}

.a-panel-content {
    /* padding-top: 10px; */
}

.a-panel-content {
    position: relative;
}

.basic-panel{
  
}

.a-panel-header{
    display: flex;
    justify-content: space-between;
}

.a-panel-content{
    height: 100%;
    width: 100%;
}