.a-panel {
    /* padding-bottom: 10px; */
    height: 100%;
}


.a-panel-content {
    position: relative;
}

.basic-panel{
    height: 100%;
}

.a-panel-header{
    display: flex;
    justify-content: space-between;
}

.a-panel-content{
    /* height: 100%;
    width: 100%; */
}