.region {
    margin-bottom: 30px;
    width: 100%;
    /* background-color:lightpink;
    background-color:lightskyblue */

}

.react-grid-layout-contianer {
    width: 100%;
}

.widget-long-narrow {
    background-color: red;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highcharts-container {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.widget {
    background-color: indianred;
}

.region-container {
    background-color: lightgrey;


}

/* #container {
    height:100%;
    width:100%;
    position:absolute;
} */