.region{
    
}

.widget-long-narrow {
    background-color: red;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

.highcharts-container {
    position: absolute;
    width: 100% !important;
    height:100% !important;
}

.widget{
    background-color: indianred;
}
/* #container {
    height:100%;
    width:100%;
    position:absolute;
} */